.u-section-1 .u-sheet-1 {
  min-height: 1165px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 938px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }
}