.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 580px;
  margin: 36px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 550px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 346px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-2 .u-text-1 {
  margin: 111px 0 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 956px;
  }
}