 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/7Q6A2026.jpg");
  background-position: 50% 50%;
  min-height: 1797px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0 calc(((100% - 1140px) / 2) + 473px);
}

.u-section-1 .u-text-2 {
  margin: 85px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + -40px);
}

.u-section-1 .u-accordion-1 {
  width: calc(((100% - 1140px) / 2) + 1195px);
  margin: 18px 0 60px auto;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 31px 0 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 351px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 0 31px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -30px -30px 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 412px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 51px 0 0;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 98px 0 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin: 0 15px 0 0;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 83px 0 0;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 0 38px 0 0;
}

.u-section-1 .u-accordion-item-9 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-9 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 0 31px 0 0;
}

.u-section-1 .u-accordion-item-10 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-10 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 0 39px 0 0;
}

.u-section-1 .u-accordion-item-11 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-11 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: 0 38px 0 0;
}

.u-section-1 .u-accordion-link-12 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 227px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 0 38px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1482px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 390px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-accordion-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-6 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-7 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-8 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-9 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-10 {
    height: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-11 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-pane-12 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1135px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 299px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-accordion-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 851px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 473px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
    margin-right: auto;
    margin-bottom: 78px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 505px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
    margin-bottom: 100px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 31px;
  }
}