.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-text-1 {
  font-family: "Playfair Display";
  margin: 23px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Playfair Display";
  margin: 13px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Playfair Display";
  margin: 23px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1.5rem;
  margin: 23px 0 60px;
}