 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 130px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 72px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 460px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-image-1 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-image-2 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-1 .u-image-3 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-1 .u-image-4 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-1 .u-image-5 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 40px;
}

.u-section-1 .u-image-6 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-1 .u-image-7 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 40px;
}

.u-section-1 .u-image-8 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-1 .u-image-9 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 40px;
}

.u-section-1 .u-image-10 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-1 .u-image-11 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 40px;
}

.u-section-1 .u-image-12 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 379px;
  }

  .u-section-1 .u-image-1 {
    height: 68px;
  }

  .u-section-1 .u-image-2 {
    height: 68px;
  }

  .u-section-1 .u-image-3 {
    height: 68px;
  }

  .u-section-1 .u-image-4 {
    height: 68px;
  }

  .u-section-1 .u-image-5 {
    height: 68px;
  }

  .u-section-1 .u-image-6 {
    height: 68px;
  }

  .u-section-1 .u-image-7 {
    height: 68px;
  }

  .u-section-1 .u-image-8 {
    height: 68px;
  }

  .u-section-1 .u-image-9 {
    height: 68px;
  }

  .u-section-1 .u-image-10 {
    height: 68px;
  }

  .u-section-1 .u-image-11 {
    height: 68px;
  }

  .u-section-1 .u-image-12 {
    height: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1471px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1051px;
  }

  .u-section-1 .u-image-1 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-5 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-6 {
    height: 94px;
  }

  .u-section-1 .u-image-7 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-8 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-9 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-10 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-1 .u-image-11 {
    height: 94px;
  }

  .u-section-1 .u-image-12 {
    height: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1413px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 895px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 109px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 777px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 80px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 80px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-2 .u-shape-1 {
  width: 889px;
  height: 1123px;
  margin: 0 111px 0 auto;
}

.u-section-2 .u-gallery-1 {
  height: 364px;
  margin-bottom: 0;
  margin-top: -1025px;
  margin-left: 0;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-back-image-1 {
  object-position: 90.97% 50%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-2 {
  object-position: 0.5% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-3 {
  object-position: 4.09% 50%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-group-1 {
  width: 788px;
  min-height: 528px;
  background-image: none;
  margin: 41px auto 59px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
  margin: 20px 64px 0 8px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2;
  background-image: none;
  margin: 30px 282px 0 8px;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 20px auto 0 8px;
  padding: 12px 42px 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-2 .u-shape-1 {
    width: 729px;
    height: 1066px;
    margin-right: 88px;
  }

  .u-section-2 .u-gallery-1 {
    height: 300px;
    margin-top: -968px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-2 .u-shape-1 {
    width: 607px;
    height: 1433px;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 632px;
    width: 690px;
    margin-top: -1335px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-group-1 {
    width: 639px;
    min-height: 569px;
    margin-top: 38px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 222px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2240px;
  }

  .u-section-2 .u-shape-1 {
    width: 489px;
    height: 2240px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1265px;
    width: 442px;
    margin-top: -2142px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-group-1 {
    min-height: 724px;
    width: 442px;
    margin-top: 51px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1989px;
  }

  .u-section-2 .u-shape-1 {
    width: 299px;
    height: 1989px;
  }

  .u-section-2 .u-gallery-1 {
    height: 973px;
    width: 309px;
    margin-top: -1891px;
  }

  .u-section-2 .u-group-1 {
    width: 309px;
    min-height: 798px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}